deb {{ lxc.repo }} {{ lxc.release }} main restricted universe multiverse
deb {{ lxc.repo }} {{ lxc.release }}-updates main restricted universe multiverse
deb {{ lxc.repo }} {{ lxc.release }}-security main restricted universe multiverse
deb-src {{ lxc.repo }} {{ lxc.release }} main restricted universe multiverse
deb-src {{ lxc.repo }} {{ lxc.release }}-updates main restricted universe multiverse
deb-src {{ lxc.repo }} {{ lxc.release }}-security main restricted universe multiverse
